.dashboard-wrapper {
	height: calc(100vh - 82px);
}

.modal-backdrop {
	display: none !important;
	opacity: 1 !important;

	.show {
		display: none !important;
		opacity: 1 !important;
	}
	.fade {
		display: none !important;
		opacity: 1 !important;
	}
}
