.dashboard-wrapper {
	height: calc(100vh - 82px);
	.common-list-wrapper {
		width: 100%;
		.expense-card {
			padding: 20px;
			border-radius: 10px;
			margin: 20px 0;
			width: 48%;
			background: #1e1e1e;
			.expense-description {
				color: rgb(216, 208, 208);
			}
			.date-text {
				color: rgb(163, 159, 159);
				font-size: 16px;
			}
			.expense-list-img {
				width: 50px;
				height: 50px;
			}
		}
	}
	.settle-up-wrapper {
		width: 45%;
	}
	.btn {
		height: 40px;
		font-size: 18px;
	}
	.settle-up-btn {
		background: #6f4bdb;
		border: none;
		transition: all 0.3s ease;
		&:hover {
			opacity: 0.9;
		}
	}
	.settled-text {
		border: 1px solid rgb(206, 175, 118);
		color: rgb(206, 175, 118);
		padding: 8px 10px;
		border-radius: 8px;
		font-size: 18px;
	}
}

.modal-backdrop {
	display: none !important;
	opacity: 1 !important;

	.show {
		display: none !important;
		opacity: 1 !important;
	}
	.fade {
		display: none !important;
		opacity: 1 !important;
	}
}
