.modal {
	width: $full-width;
	height: $full-height;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	background: rgba(49, 49, 49, 0.5);

	// .modal__body {
	// 	.scroll-with--sticky-header {
	// 		overflow-y: auto;
	// 		&::-webkit-scrollbar {
	// 			width: 0;
	// 		}
	// 	}
	// }

	// &.confirmation-model {
	// 	.modal__body {
	// 		max-height: 300px !important;
	// 		box-sizing: content-box;
	// 		@include padding(0 20px);
	// 	}
	// }
	.modal-body {
		padding: 20px 30px;
	}
	.modal-dialog {
		height: calc(100vh - 82px);
		display: flex;
		justify-content: center;
		align-items: center;
		.modal-content {
			height: fit-content;
			background-color: $beige;
			color: rgba(27, 27, 27, 0.87);
			border: 1px solid green;
			opacity: 1;
			.modal-body {
				.form-wrapper {
					.form-title {
						color: rgba(27, 27, 27, 0.87);
						font-size: 30px;
					}
					.form-control {
						font-size: 16px;
						margin-bottom: 5px;
						box-sizing: border-box;
						padding: 5px 15px;
						margin-top: 5px;
						width: 50%;
						background-color: transparent;
						border: none;
						border-radius: 0;
						border-bottom: 1px solid rgb(8 161 8 / 40%);
						color: rgba(27, 27, 27, 0.87);
						@extend .justify-align--center;
						&:focus {
							box-shadow: none;
							background: transparent;
						}
					}
					.checkbox-input {
						width: 50px;
						height: 50px;
						background: transparent;
						border-radius: 50px;
						margin-right: 5px;
						z-index: 0;
						position: absolute;
						top: 0;
						left: 0;
					}
					input[type='checkbox']:checked {
						border: 3px solid rgb(51 146 146 / 65%);
						background: rgb(24 94 92 / 50%);
					}
					.profile-img {
						width: 50px;
						z-index: 0;
					}
					.form-label {
						font-size: 18px;
						margin-bottom: 0;
					}
					.cancel-btn {
						color: '#eee' !important;
						background-color: #9e3809;
						border: none;
						width: 123px;
					}
				}
			}
			.modal-close-btn {
				display: none;
			}
		}
	}
}
