.modal {
	width: $full-width;
	height: $full-height;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;

	// .modal__body {
	// 	.scroll-with--sticky-header {
	// 		overflow-y: auto;
	// 		&::-webkit-scrollbar {
	// 			width: 0;
	// 		}
	// 	}
	// }

	// &.confirmation-model {
	// 	.modal__body {
	// 		max-height: 300px !important;
	// 		box-sizing: content-box;
	// 		@include padding(0 20px);
	// 	}
	// }
	.modal-dialog {
		height: calc(100vh - 100px);
		display: flex;
		justify-content: center;
		align-items: center;
		.modal-content {
			height: fit-content;
			background-color: white;
			opacity: 1;
			.modal-body {
				.form-wrapper {
					color: black;
					.form-control {
						border: 1px solid $gray;
						font-size: 14px;
						border-radius: 5px;
						margin-bottom: 5px;
						box-sizing: border-box;
						padding: 8px 15px;
						margin-top: 20px;
						width: 50%;
						@extend .justify-align--center;
						&:focus {
							box-shadow: none;
						}
					}
				}
			}
			.modal-close-btn {
				display: none;
			}
		}
	}
}
