@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1440px) {
	// Login Page
	.login {
		.logo-wrapper {
			margin-bottom: 40px;

			.logo_nextedgelogo {
				max-width: 250px;
			}

			.logo_reelanalyticslogo {
				max-width: 100px;
			}
		}

		.form {
			.form-item {
				.input-field {
					min-height: 60px;
				}

				.password-icon {
					top: 16px;
				}
			}

			.checkbox {
				margin-bottom: 40px;
			}

			.login-btn {
				min-height: 60px;
			}
		}
	}
	.content-container {
		max-width: 1200px;
	}
}

@media screen and (max-width: 1280px) {
	.content-container {
		max-width: 1000px;
	}
}

@media screen and (max-width: 1280px) and (min-width: 1024px) {
}

@media screen and (max-width: 1024px) {
	// Login Page
	.login {
		.logo-wrapper {
			margin-bottom: 30px;

			.logo_nextedgelogo {
				max-width: 200px;
			}
			.logo_reelanalyticslogo {
				max-width: 80px;
			}
		}

		.form {
			.form-item {
				.input-field {
					min-height: 50px;
				}

				.password-icon {
					top: 11px;
				}
			}

			.checkbox {
				margin-bottom: 35px;
			}

			.login-btn {
				min-height: 50px;
			}
		}
	}
	.content-container {
		max-width: 950px;
	}
}

@media screen and (max-width: 992px) {
	.show--lg {
		display: none;
	}

	.hide--lg {
		display: block;
	}
	.content-container {
		max-width: calc(100% - 40px);
	}
}

@media screen and (max-width: 930px) {
	.dashboard-wrapper {
		.expense-list-wrapper {
			.expense-card {
				width: 43%;
				.expense-list-img {
					width: 35px;
					height: 35px;
				}
			}
			.member-amount-wrapper {
				margin-right: 5px;
			}
			.settled-text {
				padding: 3px 7px;
				font-size: 16px;
			}
		}
		.profile-group-wrapper {
			.profile-img {
				width: 45px;
			}
		}
		.btn {
			height: 33px;
			font-weight: 500;
			padding: 3px 7px;
		}
	}
}
@media screen and (max-width: 768px) {
	.show--md {
		display: none;
	}

	.hide--md {
		display: block;
	}
	.dashboard-wrapper {
		.expense-list-wrapper {
			.expense-card {
				width: 100%;
				.expense-list-img {
					width: 50px;
					height: 50px;
				}
			}
			.settled-text {
				padding: 5px 10px;
				font-size: 18px;
			}
		}
		.profile-group-wrapper {
			.profile-img {
				width: 50px;
			}
		}
		.btn {
			padding: 5px 10px;
			font-size: 18px;
			height: 37px;
		}
		.add-btn {
			border-radius: 50%;
			padding: 10px;
			height: auto;
			.add-btn-text {
				display: none;
			}
			.add-expense-svg {
				width: 35px;
				height: 35px;
				margin-right: 0;
			}
		}
	}
}

@media screen and (max-width: 500px) {
	.dashboard-wrapper {
		padding: 15px;
		.expense-list-wrapper {
			.expense-list-title {
				font-size: 20px;
			}
			.expense-card {
				.friend-img {
					display: none;
				}
				.expense-description {
					font-size: 20px;
				}
				.date-text {
					font-size: 12px;
				}
			}

			.settled-text {
				padding: 2px 7px;
				font-size: 14px;
			}
			.member-amount-wrapper {
				margin-right: 15px;
				.friend-name {
					font-size: 14px;
				}
			}
		}
		.profile-group-wrapper {
			.profile-img {
				width: 40px;
			}
		}
		.btn {
			padding: 1px 5px;
			font-size: 14px;
			height: 28px;
		}
	}
	.modal {
		.modal-dialog {
			.modal-content {
				.modal-body {
					.form-wrapper {
						.form-title {
							font-size: 26px;
						}
						.form-label {
							font-size: 15px;
						}
						.checkbox-input {
							width: 45px;
						}
						.profile-img {
							width: 45px;
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 425px) {
	.show--xs {
		display: none;
	}
	.hide--xs {
		display: block;
	}
}
